body {
	background-image: url('../images/background/white2.png');
	background-size: 100%;
	/*color: white !important;*/
	font-size: 15px !important;
}


/* Profile image on index.html */
img {
	/*float:left;
	padding-right: 15px;*/
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 15px;
}

.profile{
	height: 30%;
}

center {
	padding: 10px;
}


/* color panels */
.panel {
	background-color: rgba(255, 255, 255, .1) !important;
}

.panel-heading{
	color: #2E2E2E;
}

.panel-green > .panel-heading {
	background: -webkit-linear-gradient(#088A29, #04B404, #088A29 );
	background: -moz-linear-gradient(#088A29, #04B404, #088A29 );
	background: -o-linear-gradient(#088A29, #04B404, #088A29 );
	color:#2E2E2E;
	/* #088A29  #0B6121  #04B404  173B0B*/
}

.panel-red > .panel-heading {
	background: -webkit-linear-gradient(#8A0808, #DF0101, #8A0808);
	background: -moz-linear-gradient(#8A0808, #DF0101, #8A0808);
	background: -o-linear-gradient(#8A0808, #DF0101, #8A0808);
	/* 610B0B */
}

.panel-blue > .panel-heading {
	background: -webkit-linear-gradient(#045FB4, #0174DF, #045FB4);
	background: -moz-linear-gradient(#045FB4, #0174DF, #045FB4);
	background: -o-linear-gradient(#045FB4, #0174DF, #045FB4);
	/* #2E64FE  #0101DF  0B0B61*/
}

.panel-orange > .panel-heading {
	background: -webkit-linear-gradient(#8A4B08, #FF8000, #8A4B08);
	background: -moz-linear-gradient(#8A4B08, #FF8000, #8A4B08);
	background: -o-linear-gradient(#8A4B08, #FF8000, #8A4B08);
	/* B45F04 8A4B08 */
}

.panel-yellow > .panel-heading {
	background: -webkit-linear-gradient(#AEB404, #D7DF01, #AEB404);
	background: -moz-linear-gradient(#AEB404, #D7DF01, #AEB404);
	background: -o-linear-gradient(#AEB404, #D7DF01, #AEB404);
	/* D7DF01  868A08 */
}
