article, aside, figure, figcaption, footer, header, nav, section {
    display: block;
}
* {
	margin: 0;
	padding: 0;
}

html {
    background: white;
}

/*HEADER STYLES*/
header h1 {
	padding: 1em;
	text-align: center;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #000099;
    background-color: #BDBDBD;
}

/*SECTION STYLE*/
section {
	clear: left;
	padding: 0 20px;
	width: 525px;
	float: right;
}
section h1 {
	color: #800000;
	font-size: 150%;
	padding: .5em 0 .25em;
}
section p {
	padding-bottom: .5em;
	
}
section h3, h4, li {
	padding-bottom: .35em;
}

section h2 {
	font-size: 120%;
	padding: .25em 0 .25em 25px;
	cursor: pointer;
	background: url('../images/arrow_r.png') no-repeat left center;
	color: #000099;
}
section h2.minus {
	background: url('../images/arrow_d.png') no-repeat left center;
}

section div {
	display: none;
	padding-left: 30px;
}
section div.open {
	display: block;
	padding-left: 30px;
}

/*ASIDE STYLE*/
aside {
	width: 215px;
	float: left;
	padding-left: 20px;
}
aside h1 {
	color: #000099;
	font-size: 150%;
	padding: .5em 0 .25em;
}
aside h2 {
	font-size: 120%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}