body {
    text-align: center;
    padding-top: 40px;
}

.btn-nav .glyphicon {
  padding-top: 16px;
	font-size: 40px;
}

.nav-icon {
  max-height: 100px;
  -webkit-transform:scale(0.8);
  /* Browser Variations: */
  -moz-transform:scale(0.8);
  -o-transform:scale(0.8); 
  -webkit-transition-duration: 0.5s; 
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.nav-icon:hover {
  -webkit-transform:scale(1.1); 
  -moz-transform:scale(1.1); 
  -o-transform:scale(1.1);
}

#appear #text {
visibility:hidden;
}

#appear:hover #text {
visibility:visible;
}

.